header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top : 0;
    left: 0;
    border-bottom: 1px solid gray;
    z-index: 99999;
    background: black;
}

.logoBlock > a >img{
    width: 70px;
}

.basketBlock{

}

.basketBlock > a > svg {
    color : cyan;
    font-size: 25px;
    cursor: pointer;
}

a {
    text-decoration: none;
}
.basketBlock > a > sup {
    color : white;
    padding: 10px 20px 10px 1px;
}